/* CSS file for ITMD-361 Lab 5 – Create a valid, properly formatted HTML5 data table,
 * fully styled with CSS.
 */

/* Border box fix */
html {
  box-sizing: border-box; /*padding and border are included in the width and height */
}

*, *:before, *:after {
  box-sizing: inherit;
}

.page-layout { /* Page layout */
  max-width: 960px;
  margin: 0 auto;
  box-shadow: 4px 8px 10px 8px grey;
  background-color: rgba(191, 191, 63, 0.3);
  border-radius: 0.9375em;
  overflow-x:auto;
}

header { /* Header at the top of the page */
  font-family: 'Atma', cursive;
  background-color: lightgrey;
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

body { /* Page body */
  background-color: lightskyblue;  
  padding-left: 0.625em;
  padding-right: 1.25em;
}

h1, h2 { /* Heading 1 & 2 Common Setting */
  color: blue;
  font-family: 'Atma', cursive;
  font-weight: 400;
  text-align: center;
  text-shadow: 2px 2px 5px red;
  margin: 0;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 270%;
  padding-top: 0;
}

/* Table setting */
table {
  font-family: 'Arima Madurai', cursive;
  border-collapse: collapse;
  width: 100%;
}

table th, table td {
  border: 1px solid #ddd;
  text-align: center;
  font-weight: bold;
  padding: 8px;
  height: 60px;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: black;
  color: white;
  vertical-align: bottom;
  font-size: 130%;
  font-weight: 600;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

tr td:first-child {
  font-weight: bolder;
  text-align: left;
  font-size: 110%;
}

img { /* Image Setting */
  align-self: center;
  height: auto;
  max-width:100%;
  display: block;
  padding: 1em;
}

p {
  text-align: center;
  box-sizing: content-box;
  clear:both;
}

/* Color for different planet */
.earth {
  color: blue;
}

.mars {
  color: red;
}

.venus {
  color: orangered;
}

.saturn {
  color: brown;
}

footer { /* Page footer */
  font-family: Arial, Helvetica, sans-serif; /* Native font */
  height: 4em;
  font-size: 1.25em;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Link on footer */
a.footer-link:link {
  color:red;
}

a.footer-link:visited {
  color:blue;
}

a.footer-link:hover {
  font-size:110%;
  color:green;
}
